#about {
    width: 100%;
    background-color: #fff;
    color: $secondary-color;
    .aboutContainer {
        padding-top: 90px;
        padding-bottom: 74px;
    }
    .TittleBox {
        h3 {
            /* Style for "What we lo" */
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -2.1px;
        }
        &__WhatWe {
            /* Text style for "What we" */
            font-weight: 900;
        }
        h5 {
            margin-top: 14px;
            /* Style for "Be sure th" */
            font-size: 18px;
            font-weight: 300;
        }
    }
    .icon-container {
        margin-top: 62px;
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, auto));
        grid-template-rows: repeat(6, minmax(150px, auto));
        .icon-container__text {
            vertical-align: middle;
            h5 {
                text-transform: uppercase;
                color: #353535;
                font-size: 18px;
            }   
            p {
                font-weight: 300;
                color: #353535;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
            }
        }
        .icon-orange-bg-container {
            background-color: $orange-color;
            width: 110px;
            height: 150px;
            margin-bottom: 50px;
            text-align: center;
            i {
                display: block;
                margin-top: 75px;
                transform: translateY(-50%);
                color: $font-color;
                font-size: 72px;
            }
        }
    }
    @media (min-width: 768px) {
        .icon-container {
            grid-template-columns: repeat(4, minmax(150px, auto));
            grid-template-rows: repeat(3, minmax(150px, auto));
        }
    }
    @media (min-width: 1200px) {
        .icon-container {
            grid-template-columns: repeat(6, minmax(150px, auto));
            grid-template-rows: repeat(1, minmax(150px, auto));
        }
        .TittleBox {
            h3 {
                font-size: 42px;
            }
        }
    }
}