#home {
    .nav-link {
        color: $font-color;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
    .show>.nav-link,
    .active>.nav-link,
    .nav-link.show,
    .nav-link.active {
        color: #ff6131;
    }
    .navlogo {
        padding-top: 18px;
        &__myway {
            /* Style for "MYWAY." */
            font-size: 50px;
            letter-spacing: -2.5px;
            text-transform: uppercase;
            font-weight: 300;
            &--weight {
                /* Text style for "WAY" */
                font-weight: 900;
            }
        }
    }
    .header {
        margin-top: 50px;
        h1 {
            /* Style for "simple." */
            font-weight: 900;
            font-size: 80px;
            text-transform: uppercase;
            /* Text style for "simple" */
            letter-spacing: -6px;
        }
        h2 {
            /* Style for "more!" */
            margin-top: 15px;
            font-size: 80px;
            font-weight: 100;
            line-height: 42px;
            text-transform: uppercase;
            /* Text style for "more!" */
            letter-spacing: -6px;
        }
        h3 {
            margin-top: 39px;
            /* Style for "Be free. D" */
            font-size: 32px;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: -2.1px;
        }
        &__DidYouWay {
            /* Text style for "Do it your" */
            font-weight: 900;
        }
        h4 {
            margin-top: 16px;
            /* Style for "Lorem ipsu" */
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
        padding-bottom: 50px;
    }
    
    .percent-height-75 {
        display: none;
        @media (min-width: 767px) {
            display: block;
            max-height: 75vh;    
        }
    }
    
    @media (min-width: 481px) and (max-width: 767px) {
        .cont-midl {
            h1,
            h2 {
                font-size: 100px;
            }
            h3 {
                margin-top: 44px;
                font-size: 38px;
            }
            h4 {
                font-size: 16px;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 991px) {
        .navlogo__myway {
            margin-left: 20px
        }
    }
    @media (min-width: 768px) {
        .navlogo {
            padding-top: 48px;
        }
        .cont-midl {
            h1,
            h2 {
                font-size: 120px;
            }
            h3 {
                margin-top: 49px;
                font-size: 42px;
            }
            h4 {
                margin-top: 36px;
                font-size: 18px;
            }
        }
    }
    @media (min-width: 1200px) {
        .cont-midl {
            margin-top: 126px;
        }
    }
}