@import "settings";
@import "home";
@import "about";
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');

body {
    width: 100%;
    height: 100%;
    font-family: $primary-font;
    background-color: $primary-color;
    line-height: 42px;
    color: $font-color;
}

.color {
    &--red {
        color: $red-color;
    }
}